[submodule "game_of_life"]
	path = game_of_life
	url = https://github.com/uslsteen/game_of_life.git
[submodule "glang/3rd_party/CLI11"]
	path = glang/3rd_party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
